<template name = "nav">
      <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav>
          <ul class="nav nav-justified">
            <li {{ navActive "Hoy"}}> <a href="/">Hoy</a></li>
            <li {{ navActive "Recibos"}}> <a href="#">Recibos</a></li>
            <li {{ navActive "Clientes"}}> <a href="/Clients">Clientes</a></li>
            <li {{ navActive "Configuracion"}}> <a href="#">Configuracion</a></li>
          </ul>
        </nav>
      </div>
</template>